@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Roboto:wght@400;900&display=swap");
/* -----------------*/
/*       Custom Properties        */
/* -----------------*/
:root {
	--bg-body: #ffffff;
	--bg-navbar: #e0cece;

	--clr-font-header: #61a4bc;
	--clr-font: #1a132f;
	--clr-white: rgb(255, 255, 255);
	--clr-black: rgb(78, 51, 51);

	--fnt-family: "Roboto", sans-serif;
	--fnt-family-header: "Overpass", sans-serif;
}
/* -----------------*/
/*       Reset        */
/* -----------------*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
li {
	margin: 0;
	padding: 0;
}
html:focus-within {
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background-color: var(--bg-body);
}
img,
picture {
	max-width: 100%;
	display: block;
	object-fit: cover;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
input,
button,
textarea,
select {
	font: inherit;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--clr-font);
}
h1,
h2,
h3 {
	font-family: var(--fnt-family-header);
}
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
iframe {
	max-width: 100%;
}
/* -----------------*/
/*       Utility       */
/* -----------------*/
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.grid {
	display: grid;
	gap: var(--gap, 1rem);
	grid-template-columns: auto 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	height: fit-content;
}
.container {
	margin: 0 auto;
	padding-inline: 1rem;
	width: 90%;
	max-width: 1440px;
}
.headers {
	font-size: 1.75rem;
	margin-bottom: 1.2rem;
	background-color: var(--clr-black);
	color: var(--clr-white);
	text-align: center;
}
.lg-hide,
.sm-hide {
	display: none;
}
/* -----------------*/
/*      navbar       */
/* -----------------*/
nav {
	border-bottom: 1px solid black;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 1rem;
	padding: 0.5rem;
	font-family: var(--fnt-family-header);
	font-size: 1.2rem;
	font-weight: 900;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}
nav a {
	padding: 0 0.25rem;
}
.navbar__logo a {
	font-size: 1.7rem;
}
nav li:hover > a {
	background-color: var(--clr-black);
	color: var(--clr-white);
}
/* -----------------*/
/*         main       */
/* -----------------*/
.main__news {
	grid-column: 1 / span 2;
	grid-row: 1;
	padding: 0.5rem;
}
.main__news:hover {
	text-decoration: underline;
}

.main__news-small {
	padding: 0.5rem;
	grid-column: 3;
	grid-row: 1;
}
.main__news-small img {
	height: 190px;
	width: 100%;
}
.news__small-item {
	margin-bottom: 1.5rem;
	text-align: center;
	font-weight: 900;
	padding-inline: 1rem;
}
.news__small-item:hover {
	text-decoration: underline;
}
/* -----------------*/
/*         sidebar    */
/* -----------------*/
.main__sidebar {
	grid-column: 4;
	grid-row: 1 / span 2;
	border-left: 1px solid rgba(161, 149, 149, 0.432);
	padding-inline: 1rem;
	font-weight: 900;
	text-align: center;
}
.main__sidebar img {
	width: max(70%, 100px);
	margin: auto;
}
.sidebar__list li {
	padding: 1rem;
	border-bottom: 1px solid rgba(138, 128, 128, 0.295);
}
.sidebar__list li :hover {
	text-decoration: underline;
}

/* -----------------*/
/*      lastnews       */
/* -----------------*/
.main__lastnews {
	grid-row: 2 / span 2;
	grid-column: 1 / span 3;
	padding-inline: 1rem;
}
.main__lastnews span {
	font-size: 0.8rem;
}
.lastnews__post {
	padding: 1rem;
}
/* -----------------*/
/*         topnews    */
/* -----------------*/
.main__topnews {
	grid-row: 3;
	grid-column: 4;
	padding-inline: 1rem;
}
.main__topnews img {
	max-width: 60%;
}
.topnews__post {
	padding: 1rem;
	border-bottom: 1px solid rgba(138, 128, 128, 0.295);
}

/* -----------------*/
/*        videos    */
/* -----------------*/
.main__videos {
	grid-row: 4;
	grid-column: 1 / span 3;
}
.videos__post {
	padding-inline: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.videos__post iframe {
	max-width: 90%;
}
/* -----------------*/
/*    newsletter   */
/* -----------------*/
.main__newsletter {
	grid-row: 4;
	grid-column: 4;
	text-align: center;
	padding-inline: 1rem;
}
form {
	padding: 1rem;
	max-width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid rgba(138, 128, 128, 0.295);
}
form input {
	padding: 0.3rem;
	border: none;
	width: max(90%, 200px);
	margin-top: 1rem;
	outline: 1px solid rgba(100, 93, 93, 0.418);
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}
input[type="submit"] {
	margin-top: 1rem;
	width: 100%;
	background-color: var(--clr-black);
	color: var(--clr-white);
	outline: none;
}
.form__btn:hover {
	background-color: rgba(59, 48, 48, 0.89);
	color: rgba(228, 218, 218, 0.897);
	cursor: pointer;
}
.hamburger {
	position: fixed;
	z-index: 100;
	top: 1rem;
	right: 1rem;
	padding: 4px;
	font-size: 1.2rem;
	background: transparent;
	cursor: pointer;
	border: none;
}
.closeIcon {
	display: none;
}

/* -----------------*/
/*         media    */
/* -----------------*/
@media only screen and (max-width: 1025px) {
	.grid {
		align-content: center;
	}
	.main__news {
		grid-column: 1 / span 3;
	}
	.main__news-small {
		grid-column: 4;
	}
	.main__sidebar {
		grid-row: 2;
		grid-column: 1 / span 4;
	}
	.main__sidebar img {
		max-width: 50%;
		margin-top: 1rem;
	}
	.sidebar__list {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}
	.sidebar__list li {
		flex: 1 1 50%;
	}
	.main__lastnews {
		grid-row: 3;
		grid-column: 1 / span 4;
	}
	.main__topnews {
		grid-row: 5;
		grid-column: 1 / span 4;
	}
	.main__videos {
		grid-row: 4;
		grid-column: 1 / span 4;
	}
	.main__newsletter {
		grid-column: 1 / 4;
		grid-row: 6;
		align-self: center;
	}
}
@media only screen and (max-width: 850px) {
	.main__news {
		grid-column: 1 / 5;
		grid-row: 1;
		margin-top: 4rem;
	}
	.main__news-small {
		grid-row: 2;
		grid-column: 1 / 5;
	}
	.main__sidebar {
		grid-row: 3;
		grid-column: 1 / 5;
	}
	.sidebar__list {
		flex-direction: column;
	}
	.main__lastnews {
		grid-row: 4;
	}
	.main__topnews {
		grid-row: 5;
	}
	.main__videos {
		grid-row: 6;
	}
	.main__newsletter {
		grid-row: 7;
		grid-column: 1 / 5;
	}
	.navbar__list {
		display: none;
	}
	.hamburger {
		display: inline-block;
	}
	.navbar__list {
		position: fixed;
		transform: translateY(-100%);
		transition: transform 0.2s;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		color: rgb(51, 50, 50);
		list-style: none;
		padding-top: 4rem;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	nav {
		position: fixed;
		background-color: var(--bg-body);
		width: 90%;
	}
	.navbar__list-item {
		font-size: 1.5rem;
		padding: 1rem;
		margin-inline: 0.5rem;
	}
	.showMenu {
		transform: translateY(0);
	}
}
