@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;700;900&display=swap");

:root {
	--background-color: #bbbbbb;
	--font-color: #444040;
	--secondry-color: #f3eaea;
	--white-color: rgb(241, 234, 234);
	--font-size: 16px;
	--font-family: "Poppins", sans-serif;
	--secondry-font-family: "Roboto", sans-serif;
	--btn-color: red;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	transition: 0.7s ease-out;
	-webkit-transition: 0.7s ease-out;
	-moz-transition: 0.7s ease-out;
	-ms-transition: 0.7s ease-out;
	-o-transition: 0.7s ease-out;
}

body {
	background: var(--background-color);
	color: var(--font-color);
	-webkit-font-smoothing: antialiased;
	position: relative;
	height: 100%;
}

body,
input,
button {
	font-size: var(--font-size);
	font-family: var(--font-family);
}

button {
	cursor: pointer;
	background-color: var(--btn-color);
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: var(--font-color);
	font-weight: 500;
	padding: 0 0.25rem;
}
nav a {
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav a:hover {
	box-shadow: inset 120px 0 0 0 #696363;
	color: #ffffff;
}
.btn {
	background-color: transparent;
	color: var(--font-color);
	padding: 0.5em 0.75em;
}
.btn:hover {
	background-color: #444040;
	color: var(--secondry-color);
	box-shadow: 1px 1px #444040;
}
.lg-hide {
	display: none;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.activated {
	font-weight: bold;
}
ul {
	list-style: none;
}
/*  ----------------------------------------   navbar ------------------------------------- */
nav {
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 1.5em;
	margin-top: 0.5em;
}
.nav__logo-text {
	font-size: 1.5rem;
	color: var(--font-color);
	font-family: var(--secondry-font-family);
	letter-spacing: 1px;
	font-weight: 700;
}

.nav__list {
	display: flex;
	padding: 0.5em;
}
.nav__list-item {
	margin-left: 1.2em;
	font-size: 1.1rem;
}
/* ----------------------------------------------- main --------------------------------------------- */
.main__grid {
	display: grid;
	grid-template-columns: 1.16fr 1.16fr 1.16fr 1.25fr;
	grid-template-rows: auto 2em auto;
	gap: 2em 2em;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	grid-template-areas:
		"main__slider main__slider main__slider main__category"
		"main__header main__header  main__header main__header"
		"main__blog main__blog2 main__blog3 main__topnews";
}
.main__slider {
	grid-area: main__slider;
	margin-top: 1em;
	height: 100%;
}
.main__category {
	grid-area: main__category;
	background-color: var(--white-color);
	align-self: stretch;
	margin-top: 1em;
	height: 100%;
}
.main__blog3 {
	grid-area: main__blog3;
}
.main__blog2 {
	grid-area: main__blog2;
}
.main__blog {
	grid-area: main__blog;
}
.main__header {
	grid-area: main__header;
	align-self: flex-start;
	text-align: center;
}
.main__topnews {
	grid-area: main__topnews;
}
.main__sidebar {
	padding: 1em;
	height: 100%;
}
.sidebar__header {
	padding: 1em;
	border-bottom: 1px solid rgba(44, 42, 42, 0.712);
	background-color: #444040;
}
.sidebar__header h2 {
	color: var(--secondry-color);
}
.main__sidebar-list {
	padding: 1em 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
}
.sidebar__list-item {
	padding: 0.75em;
	border: 1px solid rgba(37, 36, 36, 0.774);
	text-align: center;
}
.sidebar__list-item a {
	padding: 0 1em;
}

/*  swiper */
.swiper {
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 2px #52525233;
}
.swiper-slide {
	box-shadow: 1px 1px 2px #52525233;
	text-align: center;
	font-size: 18px;
	background: #fff;
	position: relative;
	/*Centerslidetextvertically*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 1px 2px #36363685;
}
.news {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.75em 1.2em;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.658);
}
.news__btn {
	float: right;
	margin-top: 0.5em;
	margin-right: 1em;
}
.news p {
	font-size: 1rem;
}
.news__info {
	font-size: 0.79rem;
	margin-left: 1em;
	font-weight: bold;
	color: var(--secondry-color);
}
/* ------------------------------  main --------------------------------*/
.blogs {
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
}
.blog__img {
	width: 100%;
	height: 350px;
}
.blog__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.blog__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1em;
}

/* ---------------------------------------------   top read --------------- */

.sidebar__top-read {
	background-color: var(--white-color);
	text-align: left;
	color: var(--font-color);
}
.top-read__header {
	background-color: var(--font-color);
	color: var(--white-color);
	padding: 1em;
}
.top-read__list li {
	padding: 1.5em 1em;
}
.top-read__list {
	padding: 1em;
}
.top-read__list span {
	font-weight: 900;
	font-size: 1.125rem;
}
section {
	width: 100%;
	background-color: #444040;
	height: 10em;
}
